html 
    head 
        title= title 
        link(rel ="stylesheet" href="/css/style.css")          
    body 
        h1= "Click on the cat"
        article 
            h2= name
            img(src="/img/cat.jpg", alt="cat image").big.small.trans
            p= age 
            p= weight
        script(src='/js/main.js')
